.appointment-client-form {
  .form-container {
    max-width: 100%;
  }
  .flex-col{
    display: grid;
  }
  .form-title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--surface-border);
    padding-bottom: 0;
    margin-top: 0;
  }

  ::ng-deep {
    .p-float-label {
      margin-bottom: 1.5rem;

      input,
      .p-inputmask {
        width: 100%;
      }
    }

    .p-error {
      display: block;
      margin-top: 0.25rem;
      font-size: 0.875rem;
    }
  }

  .form-actions {
    border-top: 1px solid var(--surface-border);
    padding-top: 1rem;
  }
}
