<p-card class="mb-3 display-block">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="flex align-items-center gap-2">
        <p-button
          *ngIf="showBackButton"
          icon="pi pi-arrow-left"
          severity="secondary"
          [text]="true"
          (onClick)="backAction ? backAction() : goBack()"
          [pTooltip]="'Voltar'"
        >
        </p-button>
        <i [class]="iconInput || 'pi pi-home'" class="text-2xl"></i>
        <div>
          <h5 class="m-0">{{ title() }}</h5>
          <small class="text-color-secondary">{{ subtitle() }}</small>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <app-breadcrumb />
    </ng-template>
  </p-toolbar>
</p-card>
