:host {
  ::ng-deep {
    .p-toolbar {
      border: 0 !important;
      padding: 0 !important;
    }
  }
  .shared-header {
    ::ng-deep {
      .p-card-body {
        padding: 0.5rem;
      }
    }
    .__titles {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.display-block {
  display: block;
}
