<div class="col-12">
  <ng-container
    *ngIf="!isDataLoading && dataSource?.length; else loadingOrEmptyState"
  >
    <p-table
      [value]="dataSource"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
      styleClass="p-datatable-striped"
      [globalFilterFields]="[
        'barberName',
        'service',
        'status'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="barberName">
            Barbeiro
            <p-sortIcon field="barberName"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Data
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="time">
            Horário
            <p-sortIcon field="time"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="service">
            Serviços
            <p-sortIcon field="service"></p-sortIcon>
          </th>
          <th>Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{ appointment.barberName || "Barbeiro não informado" }}</td>
          <td>{{ appointment.date | date : "dd/MM/yyyy" }}</td>
          <td>{{ appointment.time }}</td>
          <td>
            <app-status-badge
              [label]="appointment.status"
              [severity]="
                appointment.status === 'aprovado'
                  ? 'success'
                  : appointment.status === 'pending'
                  ? 'warning'
                  : appointment.status === 'rejeitado'
                  ? 'danger'
                  : 'info'
              "
            />
          </td>
          <td>
            <span *ngFor="let service of appointment.service; let last = last">
              {{ service }}<span *ngIf="!last">, </span>
            </span>
          </td>
          <td>
            <div class="flex gap-2">
              <p-button
                icon="pi pi-pencil"
                severity="secondary"
                size="small"
                [text]="true"
                (onClick)="onEdit(appointment.id || appointment._id)"
                pTooltip="Editar agendamento"
                tooltipPosition="top"
              ></p-button>

              <p-button
                icon="pi pi-trash"
                severity="danger"
                size="small"
                [text]="true"
                (onClick)="onDelete(appointment.id || appointment._id)"
                [loading]="isLoadingDelete"
                pTooltip="Excluir agendamento"
                tooltipPosition="top"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4">
            Nenhum agendamento encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <ng-template #loadingOrEmptyState>
    <ng-container *ngIf="isDataLoading; else emptyState">
      <!-- Skeleton loading for table -->
      <div class="p-datatable p-component p-datatable-striped">
        <div class="p-datatable-wrapper">
          <table class="p-datatable-table">
            <thead class="p-datatable-thead">
              <tr>
                <th>Barbeiro</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Serviços</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody class="p-datatable-tbody">
              <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                <td><p-skeleton height="1.5rem" width="100%"></p-skeleton></td>
                <td><p-skeleton height="1.5rem" width="80px"></p-skeleton></td>
                <td><p-skeleton height="1.5rem" width="60px"></p-skeleton></td>
                <td>
                  <p-skeleton
                    height="1.5rem"
                    width="70px"
                    borderRadius="16px"
                  ></p-skeleton>
                </td>
                <td><p-skeleton height="1.5rem" width="100%"></p-skeleton></td>
                <td>
                  <div class="flex gap-2">
                    <p-skeleton
                      height="2rem"
                      width="2rem"
                      borderRadius="50%"
                    ></p-skeleton>
                    <p-skeleton
                      height="2rem"
                      width="2rem"
                      borderRadius="50%"
                    ></p-skeleton>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Skeleton for paginator -->
        <div class="p-paginator p-component p-paginator-bottom">
          <div class="p-paginator-left-content"></div>
          <div class="p-paginator-right-content">
            <p-skeleton height="2rem" width="200px"></p-skeleton>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyState>
      <div class="p-datatable p-component p-datatable-striped">
        <div class="p-datatable-wrapper">
          <table class="p-datatable-table">
            <thead class="p-datatable-thead">
              <tr>
                <th>Barbeiro</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Serviços</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody class="p-datatable-tbody">
              <tr>
                <td colspan="6" class="text-center p-4">
                  Nenhum agendamento encontrado
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ng-template>

  <p-confirmDialog></p-confirmDialog>
</div>
